body {
  background: #0B1C2D;
  color: white;
  font-family: Arial;
  margin: 0;
}

.topbar {
  background: #132A3A;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

button {
  padding: 8px 12px;
  margin-left: 5px;
  cursor: pointer;
}

#app {
  padding: 20px;
}
